@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.coin-app {
  text-align: center;
  margin-inline: auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h2 {
  font: lighter;
}
.coin-search {
  padding: 1rem;
  width: 100%;
}

.coin-input {
  padding: 1rem;
  font-size: medium;
}

.coin-container {
  width: 100%;
  margin-left: 5%;
}

.coin-row {
  float: left;
  padding: 2rem;
  height: 15rem;
}

img {
  height: 3rem;
}
@media (max-width: 700px) {
  .coin-row {
    float: none;
  }
}
